* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*section {
		padding: 100px 0;
		clear: both;1
		background-color: #00cdf2;
}*/

body {
	background-color: #00cdf2 ;
}

.float-clearing {
	zoom: 1;
}

.float-clearing:after {
	zoom: 1;
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


#h1 {
	text-align: center;
	font-size: 50px;
	color: #ffc249;
	padding-top: 40px;
	text-shadow: 10px 10px 20px black, 0 0 1em black;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(66, 85, 255, 0.3)), url(img/1.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#praz1 {
	margin: 10px;
	padding: 40px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	
}

#praz1 li {
		display: inline-block;
		margin-right: 30px;
		padding-bottom: 50px;
		font-size: 36px;
}

#praz1 li a:link,
#praz1 li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #47ceff;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 3%;
}


#gimn {
	padding-top: 50px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(199, 232, 252, 0.3)), url(https://images.ua.prom.st/2190888138_w640_h640_prapor-ukrayini.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#h12 {
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 50px;
	color: #f7ff14 ;
}

#dg {
	font-size: 25px;
	padding-bottom: 15px;
	font-weight: 700;
	color: #ffe9c4;
	/*text-shadow: 10px 10px 20px white, 0 0 1em white;
*/}

#zag {
	text-align: center;
	font-size: 25px;
	padding: 10px;
	font-weight: 700;
}

#c {
	text-align: center;
	font-weight: 700;
}

#slova {
	font-size: 20px;
	text-shadow: 10px 10px 20px white, 0 0 1em white;

}

#prapor {
	background-color: #00cdf2;
	padding-top: 100px;
	padding-bottom: 0;
}

#h13 {
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 50px;
}

#abb{
	background-color: #00cdf2;
	font-size: 25px;
	padding: 15px;
}

#prpr {
	width: 100%;
	padding-left: 20px;
}

#sobor {

}

#h14 {
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 00px;
	font-size: 50px;
	display: block;
}

#zaz {
	/*background-image:  url(img/6.jpg);*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(199, 232, 252, 0.3)), url(img/6.jpg);
	width: 100%;
}

#zazk1 {
	padding-top: 50px;
	margin-left: 175px;
	width: 70%;
}

/*.container-fluid-gallery {
    max-width: 1800px;
    padding: 0; 
}
.portfolio {
    position: relative; 
}
.portfolio-content {
    position: absolute;
    color: #fff;
    padding: 18px;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: none repeat scroll 0px 0px #6170ca; 
}
.portfolio-content_clickable {
    cursor: pointer; 
}*/

/*#zrf {
	opacity: 0;
*/




#imgs {
	width: 100%;
}

#dlc {
	font-size: 40px ;
	font-weight: 500;
}

#dlc:link,
#dlc:visited {
	opacity: 0.5;
}


#dlc:hover,
#dlc:active {
	opacity: 1;
}